*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.register__body{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: space-between;
}

.register__ladoEsquerdo{
    width: 78%;
    height: 100vh;
    background-image: url(../../Assets/images/asphalt-cars-drive-2694920.jpg);
    background-size: cover;
    background-position: center;
}

.register__ladoDireito{
    width: 22%;
    height: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-box-shadow: -4px 0px 8px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -4px 0px 8px -1px rgba(0,0,0,0.75);
    box-shadow: -4px 0px 8px -1px rgba(0,0,0,0.75);
}

.register__container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 45%;
    width: 100%;
}

.register__container img{
    margin-top: -80px;
    margin-bottom: 60px;
}

.register__links{
    margin-top: 20px;
}

.register__container a{
    color: #fb880b;
    letter-spacing: 1px;
    font-size: 12px;
    text-decoration: none;
}

.register__formulario{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.register__formulario input[type = "text"],
.register__formulario input[type = "password"]{
    width: 270px;
    height: 40px;
    border: 2px solid #FB880B;
    border-radius: 5px;
    margin-bottom: 40px;
    padding-left: 5px;
    font-size: 17px;
    background-color: transparent;
    color:white;
    box-shadow: 0px 0px 10px 2px rgba(251,136,11,1);
}

.register__formulario input[type = "text"]:focus,
.register__formulario input[type = "password"]:focus{
    box-shadow: 0px 0px 16px 2px rgba(251,136,11,1);
    transition: all .3s;
}

.register__formulario input[type = "text"]:not(:focus),
.register__formulario input[type = "password"]:not(:focus){
    box-shadow: 0px 0px 10px 2px rgba(251,136,11,1);
    transition: all .3s;
}

.register__formulario button{
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: transparent;
    color: white;
    border: 2px solid #FB880B;
}

.register__formulario button:hover{
    box-shadow: 0px 0px 13px 2px rgba(251,136,11,1);
    transition: all 0.6s;
}

.register__formulario button:not(:hover){
    box-shadow: none;
    transition: all 0.6s;
}